apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  annotations:
     deployment.kubernetes.io/revision: "3"
     kubernetes.io/change-cause:
       image update to 1.21      

spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.21
          ports:
            - containerPort: 80
    

